#Rename this file to confif.env before using.

# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = ""

#BOT Owner ID
OWNER_ID = 

#Enter The Chat IDs & User ID Here, Whom You Wanna Give Access To. 
AUTHORIZED_CHATS = "" # Split by space  

#token.pickle url or you can direclt upload token.pickle into repo
TOKEN_PICKLE_URL = ""